.container, #loader{
    width: 100vh;
    height: 100vh;
}
*{
    color: #212529;
    font-family: sans-serif;
}
.hidden{
    display: none;
}
body {
    position: relative;
    width: 100%;
    height: 100vh;
}
#content{
    height: 100vh;
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.loading{ text-align: center; }

.loading-text {
    color: #e8c547;
    display: inline-block;
    margin-left: 5px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}

.bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: 15px;
}
.bounceball:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e8c547;
    -webkit-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-animation: bounce 500ms alternate infinite ease;
            animation: bounce 500ms alternate infinite ease;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #fff; 
}
::-webkit-scrollbar-thumb {
  background: #555; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@-webkit-keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

#scoring{
    background: #30323D;
    justify-content: space-between;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    margin: 0
}
#scoring > .col-8{
    display: block;
    margin: 0 auto;
}
#scoring i{
    text-align: center;
    cursor: pointer;
    color: #e8c547;
    padding: 0;
}
#scoring h4{
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
#logo{
    float: left;    
    width: 100%;
    padding: 1em;
}
#floors .logo{
    max-width: 2em;
    height: 2em;
}
#floors{
    height: 8vh;
    background: #30323D;
    justify-content: space-between;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    padding: 0.5em 2em;
}
#logo img{
    max-width: 80%;
}
#floors h2{
    text-align: center;
    font-size: 1.5em;
    display: inline-block;
    width: auto;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#floors h2.selected{
    color: #e8c547;
}
#scoring{
    height: 8vh;
    width: 100%;
}
#map-scheme{
    height: 42vh;
    padding-top: 8vh;
    position: relative;
}
#map-scheme h3{
    text-align: center;
    top: .5em;
    position: absolute;
    font-weight: bold;
    width: 100%;
    color: #30323D;
}
#main-content{
    height: 42vh;
    overflow: scroll;
    position: relative;
}
.go-back{
    font-size: 2em;
    color: #e8c547 !important;
    position: absolute;
    top: 0;
    left: 5px;
    cursor: pointer;
}
.go-back i{
    color: #e8c547 !important;
}
#main-content h3{
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    padding: .5em 0;
    text-align: center;
    color: #30323D;
}
#main-content #room-selector {
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    column-count: 4;
    column-gap: 10px;
}
#main-content #room-selector p{
    margin: 0.2em 0;
    padding: 0.2em 0.5em;
}
#main-content #room-selector p.category{
    font-weight: bold;
    background: #5c6d70;
    color: white;
}
#main-content #room-selector p.room{
    cursor: pointer;
}
#image-gallery, #description{
    padding: 5px 15px;
    text-align: justify;
}
#image-gallery img {
    max-width: 30%;
    border-radius: 100%;
    border: 5px solid #e8c547;
    margin: 0 1.5%;
}
@media screen and (max-width: 1200px){
    .container, #loader {
        max-width: 100%;
        padding: 0;
    }
    #main-content #room-selector {
        -moz-column-count: 2;
        -moz-column-gap: 10px;
        -webkit-column-count: 2;
        -webkit-column-gap: 10px;
        column-count: 2;
        column-gap: 10px;
    }
    #map-scheme{
        height: 42vh;
        padding-top: 8vh;
    }
    #main-content{
        height: 41vh;
        overflow: scroll;
    }
}
@media screen and (max-width: 1023px){
    #map-scheme{
        height: 34vh;
        padding-top: 6vh;
    }
    #main-content{
        height: 50vh;
        overflow: scroll;
    }
}
@media screen and (max-width: 767px){
    #map-scheme{
        height: 30vh;
        padding-top: 11vh;
    }
    #scoring h4 {
        font-size: .7em;
    }
    #main-content{
        height: 55vh;
        overflow: scroll;
    }
    #scoring h4 {
        font-size: .7em;
    }
}
.img-responsive{
    max-width: 100%;
}
.promotion-view *{
    padding-right: 0;
    padding-left: 0;
}
.promotion-view div{
    text-align: justify;
}
.promotion-view h1{
    font-weight: bold;
    color: #e8c547;
    margin-top: .5em;
    margin-bottom: .5em;
}
.promotion-container > img{
    height: 50%;
    margin: 0 auto;
    width: 50%;
}
.promotion-container h4{
    padding: 1em 0;
    text-align: center;
    font-weight: bold;
}
.promotion-container div img{
    margin: 1em auto;
}
@media only screen and (max-width: 767px){
    .promotion-container > img{
        height: 100%;
        margin: 1em auto;
        width: 100%;
    }
}
#background-white{
    background: white;    
    width: 100%;
    height: 100vh;
}